@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Oswald:wght@300&display=swap');
body{
	padding: 0 2.5%;
	margin :0px ;
	font-family: 'Fredoka', sans-serif;

}
form {
	background-color: #000;
}
form h1{
	font-size: 19px;
}
form .separation{
	width: 100%;
	height: 1px;
	background-color: #747cdf;
}
form .corps-formulaire{
	display: flex;
	flex-wrap:wrap;
	margin-bottom:25px ; 
}
form .corps-formulaire .groupe{
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-direction:column;
}
form .corps-formulaire .gauche .groupe input{
	margin-top: 5px;
	padding: 10px 5px 10px 30px;
	border:1px solid #c9c9c9;
	outline-color: #747cdf ; 
	border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i{
	position: absolute;
	right: 170px;
	top:25px;
	padding: 9px 8px;
	color: #747cdf;
}
form .corps-formulaire .droite{
	margin-left: 40px;
}
form .corps-formulaire .droite .groupe{
	height: 100%;
}
form .corps-formulaire .droite .groupe textarea{
	margin-top: 5px;
	padding: 10px;
	background-color: #f8f8f8;
	border: 2px solid #747cdf;
	outline: none;
	border-radius: 5px;
	resize: none;
	height: 78%;
} 
form .pied-formulaire button{
	margin-top: 10px;
	background-color: #747cdf;
	color: white;
	font-size: 15px;
	border:none;
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: transform 0.5s;
}
form .pied-formulaire button:hover{
	transform: scale(1.05);

}
nav {
	 display: flex;  
	 flex-wrap: wrap;
	 justify-content: space-between;
	 align-items: center; 
	 background-color: white  ;
	 position: sticky;
	 top :0;
}

nav .profile{
	display: flex;
	align-items: center;
}

nav .profile img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

nav .profile h1 {
	margin-left: 10px;
	 font-size: 15px;

}
nav a{
	text-decoration: none;
}
nav ul{
	display: flex;
	list-style-type: none; 
}
nav ul li{
 	margin-left: 20px;
 	cursor: pointer; 
 	border-bottom:  1px solid #fff;
}
nav ul li:hover {
	border-bottom-color: #000 ;
}
.page-content{
	margin: 4%;
}
.page-content header{
	margin-top: 5%;
	max-width: 80%;
}

.page-content header h1{
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald',sans-serif;
	font-size: 6vW;
}
.page-content header p{
	line-height: 30px;
	color:#818181;
}
.page-content header button {
	background-color: inherit;
	border : none;
	outline : none;
	padding: 0;
	font-size: 15px;
	font-weight: bold; 
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.btn {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.icone {
    width: 50px;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
	transition: filter 0.5s;
}
.page-content .presentation-image img:hover{
	filter : brightness(50%);
}
.page-content header button:hover{
	color: #ccc;
	border-bottom-color: #000;
}
.page-content .projects-sections{
	margin-top: 6%;
}
.page-content .projects-sections h1{
	font-family: 'Oswald', sans-serif ;
	text-transform: uppercase;
	font-size: 3vw;
}
.page-content .projects-sections .Expériences{
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-sections .Expériences .Expérience{
	margin-right: 20px;
	max-width: 195px;
}

.page-content .projects-sections .Expériences .Expérience h4{
	margin: 0;
}
.page-content .projects-sections .Expériences .Expérience .description{
	font-size: 10px;
}
.page-content .projects-sections .Expériences .Expérience .dates{
	font-size: 13px;
	color: rgb(145,145,145);

}
.sub-menu-1{
	display: none;
}
nav ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: #fff ;
	margin-top:15px ;
	margin-left: 15px;
}
nav ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
nav ul li:hover .sub-menu-1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
nav ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
nav ul li:hover .sub-menu-1 ul li:hover
{
color: #FCE5E5; 	
}
nav ul li:hover .sub-menu-1 ul li a:hover
{
	color: #FAC3C3;
}
.fa-angle-right 
{
	float: right;
}
.sub-menu-2
{
	display: none;
}
.hover-me:hover .sub-menu-2
{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: #fff;
}
footer{
	margin-top: 5%;
	display: flex;
	flex-wrap :wrap;
	justify-content: space-around;
	background-color: #000;
	color: white;
	padding: 10px;
}
footer .colonne a {
	text-decoration: none;
}
footer .colonne p{
	font-size: 12px;
	color: #ccc;
	cursor: pointeur;
}
footer .colonne p:hover {
	color:#fff;
}


@media screen and (max-width: 700px){
	nav{
		justify-content: center ;
	}
	nav ul {
		flex: none ;
		 
	}
	.page-content header {
	margin-top: 10%;
	max-width: 100%;
	}

	.page-content .projects-sections {
		margin-top: 15%;
	}
	.page-content .projects-sections h1 {
		font-size: 1.5em;
	}
	.page-content .projects-sections .Expériences .Expérience{
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
		}
	footer {
		justify-content: flex-start;
	}
	footer .colonne {
		 width: 80%;
	}
	form .corps-formulaire .droite{
	margin-left: 10px;
}
}
